header{
  background-color: #1A1825; /* Green background */
  
  text-align: left; 
  color: white; /* White text color */
  font-size: 24px; /* Larger font size */
}



footer{
  background-color: #1A1825; /* Green background */
  color: white; /* White text color */
  text-align: center; /* Centered text */
  padding: 10px; /* Padding around the footer */
  position: fixed; /* Fixed position at the bottom */
  bottom: 0; /* Align to the bottom of the page */
  width: 100%; /* Full width */

}


